<nav class="navbar navbar-expand-lg navbar-dark bg-dark mb-1">
  <div class="container">
    <img src="/assets/logo.png" style="width: 20%;">
    <button
      class="navbar-toggler"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="#">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/rentals/">Rentals</a>
        </li>
        <li class="nav-item dropdown">
          <a
            class="nav-link dropdown-toggle"
            href="#"
            id="navbarDropdown"
            role="button"
            data-bs-toggle="dropdown"
            aria-expanded="false"
          >
            Dropdown
          </a>
          <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
            <li><a class="dropdown-item" routerLink="carmanage">Car Manage</a></li>
            <li><a class="dropdown-item" routerLink="brandmanage">Brand Manage</a></li>
            <li><a class="dropdown-item" routerLink="colormanage">Color Manage</a></li>
            <li><hr class="dropdown-divider" /></li>
            <li><a class="dropdown-item" href="#">Something else here</a></li>
          </ul>
        </li>
        
      </ul>
      <form class="d-flex">
        <button class="btn btn-success btn-sm me-2" type="submit" routerLink='/register'>Register</button>
        <button class="btn btn-success btn-sm" type="submit" routerLink='/login'>Login</button>
      </form>
    </div>
  </div>
</nav>
