<div class="row">
    <div class="col-lg-6 col-md-12">
        <main class="form-signin">
            <form [formGroup]='registerForm'>
                <div class="form-floating mb-1">
                    <input type="text" class="form-control" placeholder="firstname" formControlName='firstname'>
                    <label for="floatingInput">First Name</label>
                </div>
                <div class="form-floating mb-1">
                    <input type="text" class="form-control" placeholder="lastname" formControlName='lastname'>
                    <label for="floatingInput">Last Name</label>
                </div>
                <div class="form-floating mb-1">
                    <input type="email" class="form-control" placeholder="name@example.com" formControlName='email'>
                    <label for="floatingInput">Email address</label>
                </div>
                <div class="form-floating mb-1">
                    <input type="password" class="form-control" placeholder="Password" formControlName='password'>
                    <label for="floatingPassword">Password</label>
                </div>
                <div class="form-floating mb-1">
                    <input type="password" class="form-control" placeholder="Confirm Password"
                        formControlName='confirmPassword'>
                    <label for="floatingPassword">Confirm Password</label>
                </div>
                <button class="w-100 btn btn-lg btn-primary" (click)='register()'>Sign Up</button>
            </form>
        </main>
    </div>
    <div class="col-lg-6 col-md-12" style="margin: auto;">
        <img src="/assets/logo.png" alt="">
        <!-- <img src="/assets/car-logo.png" alt=""> -->
        <!-- <img src="https://localhost:44375/Upload/Images/CarImages/default.jpg" style="width: 60%;" alt=""> -->
    </div>
</div>